<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9dwze8BxqLJF0QXLKrL4fekKNWYV-eq0"></script>
    <script type="text/javascript">
      var map;
      var marker;
      function initialize() {
      	var mapOptions = {
      		center: new google.maps.LatLng(51.048615, -114.070846),
      		zoom: 12
      	};
      	map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      	google.maps.event.addListener(map, 'click', 
      		function(event) {
      			placeMarker(event.latLng);
      			}); // Ends the Listener
      		} // Ends the initialize function
		
		function placeMarker(location){
			if (!marker) {
      			marker = new google.maps.Marker({
      			position: location,
      			map: map
      			}) // Ends the var Marker
      		} else {
      			marker.setPosition(location);
      		}
      	} // Ends the function placeMarker
      </script>
    <title>Crime Map</title>
   </head>

   <body onload="initialize()">
     <div id="map-canvas" style="width:100%; height:700px;margin-right: auto;margin-left: auto"></div>
   </body>

</html>
