<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9dwze8BxqLJF0QXLKrL4fekKNWYV-eq0"></script>
    <script type="text/javascript">
      function initialize() {
      	var mapOptions = {
      		center: new google.maps.LatLng(-33.30578, 26.52344),
      		zoom: 15
      	};
      	var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
      }
      </script>
    <title>Crime Map</title>
   </head>

   <body onload="initialize()">
     <div id="map-canvas" style="width:80%; height:500px;margin-right: auto;margin-left: auto"></div>
   </body>

</html>
